
    <footer class="c-footer">
        <div class="loader">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="footer-info">
            <div class="footer-user"><button class="mt-btn user-btn">登录</button>
            </div>
            <div class="footer-city">
                <span class="city-label">城市：</span>
                <img class="footer-city-icon"
                    data-src="https://p1.meituan.net/travelcube/c6c04160817d530ecddf9f86b158106e2032.png" alt=""
                    src="https://p1.meituan.net/travelcube/c6c04160817d530ecddf9f86b158106e2032.png">
                <span class="city-text">常德</span>
            </div>
        </div>
        <ul class="main-link-wrap">
            <li class="main-link">首页</li>
            <li class="main-link">我的</li>
            <li class="main-link">美团下载</li>
            <li class="main-link">电脑版</li>
            <li class="main-link">帮助</li>
        </ul>
        <ul class="friend-link-wrap">
            <li class="friend-link-label">友情链接：</li>
            <li class="friend-link">猫眼电影</li>
            <li class="friend-link">大众点评</li>
            <li class="friend-link">美团旅行</li>
            <li class="friend-link">榛果民宿</li>
            <li class="friend-link">大众点评下载</li>
            <li class="friend-link">美团餐饮系统</li>
            <li class="friend-link">美团餐饮培训</li>
            <li class="friend-link">快驴进货商家合作</li>
            <li class="friend-link">商机/招聘</li>
        </ul>
        <div class="footer-certificate">
            <div class="footer-hr"></div><span class="certificate-text">©2021 美团网 京ICP证070791号</span>
        </div>
    </footer>
        </div><!-- container end -->
    </div><!-- app end -->
    
</body>

</html>